
body {
  margin: 0 auto 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  opacity: .8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 7px 0;
}

button {
  margin: 3px;
  padding: 3px 7px;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: .95rem;

}

li em {
  opacity: .7;
}

li small {
  opacity: .7;
}

#top {
  background-color: rgb(0, 59, 61);
  color: white;
  padding: 12px 0;
  opacity: .9;
}

h1 {
  margin-top: 0;
}

input {
  margin: 7px 5px;
}

#top strong {
  opacity: .6;
}

#top small {
  opacity: .6;
}

strong {
  font-size: 1.2rem;
}

h3 {
  opacity: .8;
}